* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

#header {
    height: 60px;
    margin: 0;
    width: 100%;
    background-color: gray;
    position: fixed;
    box-sizing: border-box;
    top: 0;

}

.header-ul {
    margin: 0;
    padding: 0 20px;
    float: right;
    list-style: none;
}

.header-li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    line-height: 60px;
}

.header-li a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
    display: block;
    padding: 0 20px;
}

#banner {
    margin: 0 20px;
}

#banner img {
    width: 100%;
}

.show-btn, .hide-btn, #chk {
    font-size: 30px;
    line-height: 60px;
    color: white;
    display: none;
    float: right;
    padding-right: 20px;
}

.header-li a:hover {
    background-color: #28a745;
}

#header h1 {
    padding-top: 8px;
    text-align: center;
    color: white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.cards_item {
    /*display: flex;*/
    padding: 1rem;
    justify-content: space-around;
}

.card_image img {
    border-radius: 50%;
}

#about-us-container {
    display: flex;
    flex-wrap: wrap;
}

.tech-card {
    border-radius: 20px;
    background-color: #ba9dc1;
    width: 300px;
    height: 600px;

}

.tech-card h2 {
    color: white;
    margin-top: 15px;
    text-align: center;
}

.tech-card p {
    color: white;
    margin-top: 15px;
    text-align: center;
}

.tech-card img {
    border-radius: 20px;
    width: 300px;
    height: 240px;
}

#main-container {
    width: 50%;
    background-color: #6f42c1;
    padding: 20px;
}

#project-parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.project img {
    padding: 20px;
    width: 100%;
    height: 180px;
}


.button {
    width: 200px;
    height: 50px;
    background-color: gray;
    padding-top: 0;
    margin-top: 30px;
    border-radius: 15px;
    transition-duration: 0.8s;
    margin-left: auto;
    margin-right: auto;
}

.read {
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: blue;

}

.button p {
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
}

#section-5 h1 {
    margin-top: 100px;
    color: black;
    text-align: center;
}


#footer {
    height: 80px;
    margin: 20px;
    background-color: mediumpurple;
}

#footer p {
    text-align: center;
    color: white;
    font-size: 18px;
}

#footer p a {
    text-decoration: none;
    color: white;
}

#footer h1 {
    padding-top: 8px;
    text-align: center;
    color: white;

}


@media (min-width: 835px) and (max-width: 1200px) {
    .header-ul {
        list-style: none;
        float: right;
    }

    .header-li {
        line-height: 60px;
        display: inline-block;
    }

    #banner {
        width: 100%;
    }

    .circular-image {
        margin: 50px 30px;
    }

    .header-li a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 0 20px;
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
    }

    .show-btn, .hide-btn, #chk {
        color: white;
        display: none;
        float: right;
        padding-right: 20px;
    }

    .cards_item {
        width: 25%;
    }
}

@media (max-width: 834px) and (min-width: 624px) {
    #header {
        width: 100%;
        background-color: grey;
        position: fixed;
        top: 0;
        height: 70px;
    }

    .show-btn {
        display: block;
    }

    .header-ul {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }

    .header-li {
        display: block;
    }

    .header-li a {
        display: block;
    }

    #chk:checked ~ .header-ul {
        right: 0;
    }

    .hide-btn {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .cards_item {
        width: 50%;
    }
}

@media screen  and (max-width: 625px) {
    .show-btn {
        display: block;
    }

    .circular-image {
        width: 100%;
    }

    .header-ul {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        background-color: #333;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }

    .header-li {
        display: block;
    }

    .header-li a {
        display: block;
    }

    .hide-btn {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
    }

    #chk:checked ~ .header-ul {
        right: 0;
    }

    .cards_item {
        width: 100%;
        margin-left: 80px;
    }

    #main-container {
        width: 100%;
    }

    #project-parent {
        width: 100%;
    }

}