*{
    margin: 0;
    padding: 0;
}
.welcome{
    color: red;
}

body{
    background-color: aqua;
}

div{
    width: 100%;

}
.image-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}