* {
    font-family: sans-serif;
}

table, tr {
    border: 2px solid #2559ab;
    border-radius: 10px;
}


td {
    padding: 8px 25px;
    font-size: 20px;
}

#heading {
    background-color: #2559ab;
    color: white;
}

table {
    border-collapse: collapse;
}

tr td {
    text-align: center;
}

td i {
    color: gray;
}

td i:hover {
    color: deepskyblue;
}

.checked {
    color: green;
}

.unchecked {
    color: red;
}

tr:hover {
    background-color: #e8ecea;
}