* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
    min-width: 100%;
}

.wrapper {
    width: 600px;
    background-color: #fff;
    padding: 10px;
    margin: 20px auto;
}

.custom-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.basic {
    background-color: #c1dcb7;

}

.plus {
    background-color: #bad6c8;

}

.deluxe {
    background-color: #bbd3dc;

}

.pro {
    background-color: #d5e4bc;

}

tbody tr:nth-child(odd), tfoot tr:nth-child(odd) {
    background-color: #edf3e2;
}

a {
    text-decoration: none;
    background-color: #64548f;
    padding: 15px 25px;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    vertical-align: middle;
    transition: 500ms;
}

a:hover {
    background-color: red;

}

h2 {
    text-align: center;
    margin-bottom: 10px;

}

tbody tr:first-child td {
    font-size: 20px;
    color: green;

}

.checked {
    color: green;
}

.unchecked {
    color: red;
}

.custom-table td, .custom-table th {
    width: 150px;
    padding: 8px 5px;
    text-align: center;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.custom-table th {
    height: 70px;
    color: #64548f;
    font-size: 28px;
}

tfoot tr {
    line-height: 70px;

}